body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4f4f4;
}


header {
background: #0d6efd;
color: white;
padding: 15px;
}


nav a {
color: white;
margin-right: 15px;
text-decoration: none;
}


.hero {
padding: 40px;
background: #e9f2ff;
text-align: center;
}


section {
padding: 30px;
}


.card {
background: white;
padding: 15px;
margin: 10px 0;
border-radius: 8px;
}


footer {
background: #333;
color: white;
text-align: center;
padding: 10px;
}


/* Login */
.login-body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.login-box {
background: white;
padding: 30px;
border-radius: 10px;
width: 300px;
}


.login-box input {
width: 100%;
padding: 8px;
margin: 8px 0;
}


.login-box button {
width: 100%;
padding: 10px;
background: #0d6efd;
color: white;
border: none;
}
